.pageGrid {
    grid-template-columns: 0.3fr repeat(10, 1fr) 0.3fr;
}


@media only screen and (min-width: 600px) {
    .pageGrid {
        grid-template-columns: 1fr repeat(10, 58px) 1fr;
    }
}

@media only screen and (min-width: 1000px) {
    .pageGrid {
        grid-template-columns: 1.5fr repeat(10, 100px) 1.5fr;
    }
}

@media only screen and (min-width: 1500px) {
    .pageGrid {
        grid-template-columns: 1.5fr repeat(10, 130px) 1.5fr;
    }
}



/*  UI Elements Design  */
.buttonUi {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonUi > button {
    background-color: transparent;
    border: 1px solid #d2d2d2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}