h1 {
    font-size: var(--h1TypeSize);
    margin: 0px;
    padding: 0px;
}
h2 {
    font-size: var(--h2TypeSize);
    margin: 0px;
    padding: 0px;
}
h3 {
    font-size: var(--h3TypeSize);
    margin: 0px;
    padding: 0px;
}
h4 {
    font-size: var(--h4TypeSize);
    margin: 0px;
    padding: 0px;
}
p {
    font-size: var(--baseTypeSize);
    margin: 0px;
    padding: 0px;
}