h1 {
    font-size: var(--h1TypeSize);
    margin: 0px;
    padding: 0px;
    font-family: var(--mainFont);
    font-style: normal;
}
h2 {
    font-size: var(--h2TypeSize);
    margin: 0px;
    padding: 0px;
    font-family: var(--mainFont);
    font-style: normal;
}
h3 {
    font-size: var(--h3TypeSize);
    font-style: normal;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
    font-family: var(--mainFont);
}
h4 {
    font-size: var(--h4TypeSize);
    margin: 0px;
    padding: 0px;
    font-family: var(--mainFont);
    font-style: normal;
}
p {
    font-size: var(--baseTypeSize);
    margin: 0px;
    padding: 0px;
    font-family: var(--mainFont);
    font-style: normal;
}